.downloads-table {
  width: 100%;
  border: 1px solid rgb(228, 228, 228);
  text-align: left;
  border-collapse: collapse;
}

.downloads-table__header-cell {
  padding: 12px 0;
}

.downloads-table__header-cell-status {
  padding-left: 22px;
}

.downloads-table__content-cell {
  padding: 8px 0;
  border-top: 1px solid rgb(228, 228, 228);
  cursor: pointer;
}

.downloads-table__cell--checkbox {
  width: 40px;
}

.downloads-table__cell--status {
  text-transform: capitalize;
}

.downloads-table__cell-status-content {
  display: flex;
}

.downloads-table__row:hover {
  transition: background-color 200ms;
  background-color: #000;
  color: #FFF;
}

.downloads-table__row--selected {
  background-color: cornflowerblue;
  color: #FFF;
}
