.button {
  background-color: transparent;
  border: none;
  transition: all 200ms;
  font-size: 18px;
  cursor: pointer;
  padding: 8px;
}

.button:hover {
  background-color: gray;
  color: aliceblue;
}

.button--icon {
  display: flex;
}

.button__icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
