.checkbox {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-size: 18px;
}

.checkbox__input {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox__input:indeterminate::before {
  content: "";
  position: absolute;
  display: block;
  color: white;
  width: 16px;
  height: 16px;
  background-color:#207ee2;
  border-radius: 2px;
}

.checkbox__input:indeterminate::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 3px 0 0 0;
  position: absolute;
  top: 6px;
  left: 3px;
}

.checkbox__label {
  margin-left: 12px;
  cursor: pointer;
}
